{% extends "dynoquiz/base.html" %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'dynoquiz/js/demo.js' %}"></script>

<div ng-app="quizDetail" ng-controller="QuizDetailCtrl">


    <div  ng-init="loadPage('1')">

    <!-- Angular Choice list -->
                            <ol>
                                <p>{[{ choiceList.length }]} </p>
                                <li ng-repeat="choice in choiceList">
                                    <input ng-model="choice.text" ng-change="dynamicList(choiceList, 'text')" name="choice{[{choice.id}]}"  type="text" class="form-control" placeholder="New Choice">
                                </li>
                            </ol>


    </div>
</div>
{% endblock %}

