{% extends "dynoquiz/base.html" %}

{% block content %}
    <div ng-app="index" ng-controller="QuizCtrl" ng-init="loadPage('{{ request.user.id }}')">

        <div class="row">
            <div class="col-lg-12">
                <button ng-click="myView='ownedQuizzes'" type="button" class="btn btn-primary btn-lg">{{ request.user.username }}'s Quizzes</button>
                <button ng-click="myView='availableQuizzes'" type="button" class="btn btn-primary btn-lg">Available Quizzes</button>

            </div>
        </div>

        <div ng-if="myView=='ownedQuizzes'" class="row" >
            <div class="col-lg-6">
                <!-- List Current Quizes reverse order -->
                <div ng-repeat="quiz in quizes"  class="row">
                    <div class="list-group">
                        <a href="{[{quiz.id}]}" class="list-group-item">
                            <h3 class="list-group-item-heading"> {[{quiz.quiz_name}]}</h3>
                            <p class="list-group-item-text">{[{quiz.quiz_details}]}</p>
                        </a>
                        <button data-toggle="modal" data-target="#myModal" ng-click="shareQuiz(quiz)" type="button" class="btn btn-primary btn-md">Share</button>
                        <button ng-click="formsetEditQuiz(quiz)" type="button" class="btn btn-info btn-md">Edit</button>
                        <button ng-click="deleteQuiz(quiz.id)" type="button" class="btn btn-danger btn-sm">Delete</button>
                        <!-- Add dropdown
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropup
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a data-toggle="modal" data-target="#myModal">Open Modal</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </div>-->
                    </div> <!--End List Group -->
                </div> <!-- End Row -->

            </div>

            <!-- Right Col -->
            <div class="col-lg-6">
                <ul class="nav nav-tabs nav-justified">
                    <li ng-class="createBtnClass" ng-click="formsetCreateQuiz()" role="presentation"><a href="#">Create</a></li>
                    <li ng-class="editBtnClass" role="presentation"><a href="#">Edit</a></li>
                </ul>
                <!-- Quiz Create/Edit Fields -->
                <div id="create-new-quiz" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="quiz-title">Quiz Title</label>
                            <input ng-model="quizName" type="text" class="form-control" id="quiz-title" placeholder="Quiz Title">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="quiz-description">Quiz Description</label>
                            <textarea ng-model="quizDetails" class="form-control" id="quiz-description" placeholder="Quiz Description" rows="3"></textarea>
                        </div>
                    </div>

                     <div class="form-group">
                        <div class="col-sm-12">
                            <button ng-show="createQuizBtn" ng-click="addQuiz()" type="button" class="btn btn-primary">Create</button>
                            <button ng-show="updateQuizBtn" ng-click="updateQuiz()" type="button" class="btn btn-info">Update</button>
                        </div>
                    </div>
                </div>

                <button ng-click="getUserById(2)" type="button" class="btn btn-info">TEST GET USER</button>

            </div><!-- end right col -->

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Share Quiz Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Share Quiz: {[{curQuiz.quiz_name}]}</h4>
                  </div>
                  <div class="modal-body">
                    <p>Select users to share with: </p>
                      <div ng-repeat="user in nonUsers | filter:{ id: '!'+curUserId}">
                          <button ng-click="shareWithUser(user)" type="button" class="btn btn-link">{[{user.username}]}</button>
                          <label ng-show="user.saved==true">shared!</label>
                      </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

        </div> <!-- end div row -->



        <!-- Available Quizzes -->
        <div ng-if="myView=='availableQuizzes'" class="row" >
            <div class="col-lg-6">
                <div ng-repeat="quiz in availableQuizzes"  class="row">
                    <div class="list-group">
                        <a href="{[{quiz.id}]}" class="list-group-item">
                            <h3 class="list-group-item-heading"> {[{quiz.quiz_name}]}</h3>
                            <p class="list-group-item-text">{[{quiz.quiz_details}]}</p>
                        </a>
                    </div> <!-- End list-group ->
                </div> <!-- End row -->
            </div>
        </div>


    </div> <!-- end index and angular controller div -->

{% endblock %}