{% extends "dynoquiz/base.html" %}
{% load staticfiles %}

{% block content %}
<script src="{% static 'dynoquiz/js/quizresults.js' %}"></script>
<link href="{% static 'dynoquiz/css/quizresults.css' %}" rel="stylesheet">

<div ng-app="quizResults" ng-controller="QuizResultsCtrl" ng-init="loadPage('{{ request.user.id }}', '{{ quiz.id }}')">
<div class="row">
    <div class="col-lg-12">
        <h1>{{quiz.quiz_name}}</h1>
        <p>{{quiz.quiz_detail}}</p>

        <h3>Attempts</h3>
        <ol>
        {% for score in scores %}
            <li>
                {{ score.correct }}/{{ score.correct|add:score.incorrect }}
                <ol>
                    {% for attempt in score.question_attempts.all %}
                    <li>
                        {{ attempt.choice.choice_text }}
                    </li>
                     {% endfor %}
                </ol>
            </li>
        {% endfor %}
        </ol>

        <h3>Angular attempts</h3>
        <ol>
            <li ng-repeat="score in scores">
                Attempt ID: {[{score.Id}]}, Correct {[{ score.correct}]}, Incorrect {[{ score.incorrect }]}
                <ol>
                    <li ng-repeat="attempt in score.question_attempts" >
                        <ol>Guess - {[{ attempt.choice }]} </ol>
                    </li>
                </ol>
            </li>
        </ol>

        <p>cur guesses {[{ curQuizGuesses }]}</p>
        <h3>Quiz Answers</h3>
        <ol>
            <li ng-repeat="question in questionList" ng-switch="question.correct">
               {[{ question.question_text }]}
                <span ng-switch-when="true">Correct</span>
                <span ng-switch-when="false">Incorrect</span>
                <ol>
                    <li ng-repeat="choice in question.choices">
                        <span ng-class="{'correct': question.answer == choice.id}" >
                            {[{ choice.choice_text }]}
                        </span>
                        <span ng-if="question.guessed=choice.id">Chosen</span>
                    </li>
                </ol>
            </li>
        </ol>

    </div>
</div>

</div> <!-- end angular ctrl -->

{% endblock %}