{% extends "dynoquiz/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>{{quiz.quiz_name}}</h1>
        <p>{{quiz.quiz_detail}}</p>

        <h3>Attempts</h3>
        {% for score in scores %}
        <ol>
            <li>
                {{ score.correct }}/{{ score.correct|add:score.incorrect }}
            </li>
        </ol>
        {% endfor %}

        <h3>Your Answers</h3>
        {% for score in scores %}
            <p>Score 1</p>
            {% for attempt in score.question_attempts.all %}
                {{ attempt.choice.choice_text }}
            {% endfor %}
        {% endfor %}

        <h3>Quiz Answers</h3>
        <ol>
            {% for question in quiz.question_set.all %}
                <li>{{question.question_text}}</li>
                <ol>
                    {% for choice in question.choices.all %}
                        <li><span style="{% if question.answer == choice %}background:#4dff88{% endif %}">{{choice.choice_text}} -- {{choice.votes}} Votes</span></li>
                    {% endfor %}
                </ol>
            {% endfor %}
        </ol>
    </div>
</div>

{% endblock %}