{% extends "dynoquiz/base.html" %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'dynoquiz/js/quizdetail.js' %}"></script>

<div ng-app="quizDetail">
    <div ng-controller="QuizDetailCtrl" class="row" ng-init="loadPage('{{ quiz.id }}')">
        <div class="col-lg-6">
            <h1>{{quiz.quiz_name}}</h1>
            <h4>Quiz Number: {{quiz.id}} <em>{[{ formStatus }]}</em> </h4>

            <form>

                <div class="row"></div>

                <div ng-repeat="question in questions">
                    <div class="row">
                        <div class="col-lg-1">
                            {[{ $index + 1 }]}
                        </div>
                        <div class="col-lg-9">
                            <input ng-model="question.question_text" ng-change="updateStatus()" ng-blur="updateQuestion(question)" ng-focus="persistCurText(question.question_text)" id="question.id" type="text" class="form-control input-md">
                        </div>
                        <div class="col-lg-2">
                            <button ng-click="removeQuestion($index)" type="button" class="btn btn-danger btn-sm">Delete</button>
                        </div>

                            <div class="row">
                                <div class="col-lg-10 col-md-offset-2">
                                    <div ng-repeat="choice in question.choices" class="radio">

                                            <input type="radio" name="question{[{question.id}]}" id="choice{[{choice.id}]}" value="{[{choice.id}]}">
                                            <input ng-model="choice.choice_text" ng-change="updateStatus()" ng-blur="updateChoice(choice)" ng-focus="persistCurText(choice.choice_text)" name="choice{[{choice.id}]}" type="text" class="form-control input-sm">
                                            <button ng-click="removeChoice($index, choice, question.choices)" type="button" class="btn btn-danger btn-sm">Delete</button>

                                    </div>
                                </div>
                            </div> <!-- End Choices Row -->

                    </div> <!-- End Questions Row -->


                </div> <!-- End Question Repeat -->


            </form>
        </div> <!-- end left col -->

        <div class="col-lg-6">
            <div id="create-new-question" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <h1>Edit Mode</h1>
                        <h2>Add Question</h2>
                        <label for="question">Question:</label>
                        <input ng-model="questionText" type="text" class="form-control input-lg" id="question" placeholder="Question">
                        <!-- TODO: Replace ordered list with custom ordered list so item number hide on edit -->
                        <label>Choices:</label>

                        <div ng-repeat="choice in choiceList" class="radio">
                                <label >
                                    <input type="radio" name="quesiton{[{question.id}]}">
                                    <input ng-model="choice.text" ng-change="dynamicList(choiceList, 'text')" name="choice{[{choice.id}]}"  type="text" class="form-control input-default" placeholder="New Choice">
                                </label>
                        </div>
                    </div> <!-- End addQuestionDiv() -->
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button ng-click="addQuestion()" ng-disabled="!questionValid()" type="button" class="btn btn-primary">Create</button>
                        <button ng-click="updateQuestion()" type="button" class="btn btn-info">Update</button>
                        <button ng-click="cancelQuestion()" type="button" class="btn btn-info">Cancel</button>
                    </div>
                </div>
            </div> <!-- end form-horizontal -->

        </div> <!-- end right col -->

    </div> <!-- end quizdetailctrl -->
</div>

{% endblock %}

