{% extends "dynoquiz/base.html" %}
{% load staticfiles %}

{% block content %}
<script src="{% static 'dynoquiz/js/quizresults.js' %}"></script>
<link href="{% static 'dynoquiz/css/quizresults.css' %}" rel="stylesheet">

<div ng-app="quizResults" ng-controller="QuizResultsCtrl" ng-init="loadPage('{{ request.user.id }}', '{{ quiz.id }}')">
<div class="row">
    <div class="col-lg-12">
        <h1>{{quiz.quiz_name}}</h1>
        <p>{{quiz.quiz_detail}}</p>

        <h3>Attempts</h3>
        <ol>
        {% for score in scores %}
            <li>
                {{ score.correct }}/{{ score.correct|add:score.incorrect }}
                <ol>
                    {% for attempt in score.question_attempts.all %}
                    <li>
                        {{ attempt.choice.choice_text }}
                    </li>
                     {% endfor %}
                </ol>
            </li>
        {% endfor %}
        </ol>

        <h3>Quiz Answers</h3>
        <ol>
            <li ng-repeat="question in questionList">
               {[{ question.question_text }]}
                <ol>
                    <li ng-repeat="choice in question.choices">
                        <span ng-class="{'correct': question.answer == choice.id}" >
                            {[{ choice.choice_text }]}
                        </span>
                    </li>
                </ol>
            </li>
        </ol>

    </div>
</div>

</div> <!-- end angular ctrl -->

{% endblock %}