
{% extends "blog/base.html" %}

{% block content %}

{% load staticfiles %}


    {% with 'blog/img/'|add:post.header_image_path as static_image %}
     <header class="intro-header" style="background-image: url({% static static_image %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1> {{ post.title }}</h1>
                        <h2 class="subheading"> {{ post.sub_heading }} </h2>
                        <span class="meta">{{ post.pub_date }} </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endwith %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <h2 class="section-heading">{{post.title}}</h2>

                    <p>{{post.text}}</p>


                </div>
            </div>
        </div>
    </article>
{% endblock %}